{% extends "cgi_base.html" %}

{% block title %}MoSim Mods{% endblock %}

{% block moreStyles %}

    <style>

        .welcome {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .left {
            text-align: center;
        }

        .mod {
            border: 5px gray solid;
            border-radius: 5px;
        }

    </style>

{% endblock %}

{% block content %}


    <table>
        
    </table>


{% endblock %}