{% extends "base.html" %}

{% block title %}MoSim Mod Discovery{% endblock %}

{% block moreStyles %}

    <style>

        .welcome {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .left {
            text-align: center;
        }

    </style>

{% endblock %}

{% block content %}

    <div class="welcome">

        <div class="left">

            <h1 class="welcome">MoSim Modding</h1>

        </div>

        <div class="right">



        </div>

    </div>

{% endblock %}